#!/bin/sh -
[Unit]
Description=SPARK server

[Service]

WorkingDirectory=/home/romanx/IdeaProjects/spark
ExecStart=/home/romanx/.jdks/corretto-11.0.9/bin/java -jar /home/romanx/IdeaProjects/spark/target/spark-1.0-SNAPSHOT-jar-with-dependencies.jar

#ExecStart=-/RaspberryPi/ConsolaGrafica
Restart=always

#StandardOutput=syslogConsola               # Output to syslog
#StandardError=syslogConsola                # Output to syslog

[Install]
WantedBy=multi-user.target
